body {
    background-color: #1e1e1e;
    color: #f5f5f5;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.sidebar {
    background-color: #282828;
    padding: 20px;
    height: 100vh; /* Full height of the viewport */
    position: fixed; /* Fixes the sidebar to the left */
    top: 0; /* Aligns the sidebar to the top */
    left: 0; /* Aligns the sidebar to the left */
    width: 250px; /* Set a width for the sidebar */
    overflow-y: auto; /* Adds scroll to sidebar if content exceeds height */
}

.sidebar a {
    color: #f5f5f5;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: orange;
}

.main-content {
    padding: 20px;
    margin-left: 270px; /* Adjust margin to account for the sidebar width */
}
.btn-assign-fuel {
    position: fixed;

}
.btn-assign-fuel {
    background-color: orange;
    border: none;
}

.btn-assign-fuel:hover {
    color: darkorange;
}

.modal-header,
.modal-footer {
    background-color: #282828;
}

.modal-content {
    color: #f5f5f5;
    background-color: #3e3e3e;
}

.assigned-fuel-list {
    margin-top: 20px;
    background-color: #282828;
    padding: 10px;
    border-radius: 5px;
}

.trip-table {
    margin-top: 20px;
}

.trip-table th,
.trip-table td {
    text-align: center;
}
