body {
    background-color: #e9ecef; /* Light grey background */
    padding-top: 60px;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}

.table-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    height: calc(100% - 60px);
    overflow-y: auto;
}

h2 {
    color: #ff8c00; /* Orange color for the heading */
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #6c757d; /* Dark grey color for labels */
}

.btn-primary {
    background-color: #ff8c00; /* Orange background for the button */
    border-color: #ff8c00; /* Orange border for the button */
}

.btn-primary:hover {
    background-color: #e07b00; /* Darker orange for hover state */
    border-color: #c66900; /* Darker orange border for hover state */
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40; /* Dark grey background */
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #f8f9fa; /* Light grey text */
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #fd7e14; /* Orange hover background */
    color: #343a40; /* Dark grey text on hover */
}  